<div class="bonsai">
  <h1>Diff for <%=h @page.title %></h1>
   <div class="diff">
        <table>
          <tbody>
          <% for item in @printer %>
              <tr>
                <% if(item.start_with?("-")) %>
                    <% item.slice!(0) %>
                    <td style="text-align:left" bgcolor="FFDDDD"> - </td>
                    <td style="text-align:left" bgcolor="FFDDDD"><%= item %></td>
                <% else %>
                     <% if(item.start_with?("+")) %>
                        <% item.slice!(0) %>
                        <td style="text-align:left" bgcolor="DDFFDD"> + </td>
                        <td style="text-align:left" bgcolor="DDFFDD"><%= item %></td>
                     <% else %>
                        <td style="text-align:left" bgcolor="F8F8FF"></td>
                        <td style="text-align:left" bgcolor="F8F8FF"><%= item %></td>
                     <% end %>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
  </div>

</div>